.dlbi-sparkle-banner {

    background-color: #fff;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    max-width: 1100px;
    height: 210px;
    position: relative;
    padding: $padding;

    &size600x400 {
        max-width: 600px;
        height: 400px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: normal;
    }

    .text-wrapper {
        text-align: center;
        font-size: 30px;
    }

    .slider-wrapper {

        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        box-sizing: border-box;
        height: 40px;
        background-color: $red;
        background-image: linear-gradient( to right, $red, $orange, $yellow, $green, $blue, $purple );

        .slider-handle {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            cursor: w-resize;
            box-sizing: border-box;
            width: 30px;
            background-color: #B5B5B5;
        }

        &.vertical {

            position: relative;
            width: 50px;
            overflow: hidden;
            box-sizing: border-box;

            .slider-handle {
                position: absolute;
                left: 0;
                bottom: 0;
                height: 30px;
                display: inline-block;
                cursor: n-resize;
                box-sizing: border-box;
                width: 100%;
                background-color: #B5B5B5;
            }
        }
    }

    .text-wrapper {
        h2 {
            display: none;
            &.visible {
                display: block;
            }
        }
    }
}
