.dlbi-sparkle-banner {

    background-color: #eee;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    width: 1100px;
    height: 210px;
    position: relative;
    overflow: hidden;

    &size600x400 {
        width: 600px;
        height: 400px;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        font-weight: normal;
    }

    .logo {
        width: 9%;
        vertical-align: middle;
    }

    #logo_digitaslbi {
        position: absolute;
        left: 10px;
        width: 90px;
        top: 10px;
    }

    .data {
        display: none;
    }

    .dlbi-sparkle-banner-inner {

        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        background-color: #fff;
        overflow: hidden;
        box-shadow: 5px 0px 35px rgba(0, 0, 0, 0.2);

        #sparkleCanvas {
            position: absolute;
            top: 0;
            left: 0;
            pointer-events: none;
        }


        .newText,
        .text-wrapper {

            text-align: center;
            font-size: 50px;
            position: relative;
            margin-top: 16px;

            .container {

                position: absolute;
                width: 100%;
                top: 35px;
                left: 0;

                &.less-container {
                    font-family: serif;
                }
                &.medium-container {
                    left: 100%;
                }
                &.waaay-container {
                    left: 200%;
                }

                .fancy_text {

                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;

                    &.msg0 {}
                    // &.msg1 {display: none;}
                    // &.msg2 {display: none;}
                    // &.msg3 {display: none;}
                    // &.msg4 {display: none;}
                }
            }

        }

        .newText {
            margin-top: 37px;
        }

        .the-sparkle-control-wrapper {

            position: absolute;
            width: 100%;
            left: 0;
            bottom: 40px;

            .labels {
                a {
                    width: 25%;
                    display: inline-block;
                    text-align: center;
                }

                &.less {

                    a:link, a:visited {
            			font-family: serif;
            		}
            		a:hover, a:active {
            			font-family: serif;
            		}

                }

                &.medium {

                    a:link, a:visited {
            			color: #000;
            			text-decoration: none;
            		}
            		a:hover, a:active {
            			color: #333;
            			text-decoration: none;
            		}

                }

                &.waaay {

                    a:link, a:visited {
            			color: #000;
            			text-decoration: none;
            		}
            		a:hover, a:active {
            			color: #333;
            			text-decoration: none;
            		}

                }


            }


        }

        .slider-wrapper {

            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            overflow: hidden;
            box-sizing: border-box;
            height: 26px;
            background-color: $red;
            background-image: linear-gradient( to right, $red, $orange, $yellow, $green, $blue, $purple );

            .slider-handle {
                position: absolute;
                left: 0;
                top: 0;
                height: 100%;
                cursor: w-resize;
                box-sizing: border-box;
                width: 30px;
                background-color: transparent;;

                .marker-mask {
                    width: 2500px;
                    height: 16px;
                    margin-left: -1235px;

                    background-image: url(../images/markerMask.png);
                    background-repeat: no-repeat;
                    background-size: 100%;
                }
            }

            &.vertical {

                position: relative;
                width: 26px;
                overflow: hidden;
                box-sizing: border-box;

                .slider-handle {
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    height: 30px;
                    display: inline-block;
                    cursor: n-resize;
                    box-sizing: border-box;
                    width: 100%;
                    background-color: #B5B5B5;
                }
            }
        }

    }

}
