<script src="vendor/zepto/zepto.min.js"></script>
<script src="//fusion.adtoma.com/spl/html5clickcount.js"></script>
<script src="js/app.js"></script>
<script>
	try {
		Zepto(function($) {
			NIBS.main.run();
		})
	} catch (err) { //For IE8 :/
		var t = document.getElementById('crap_browser_message');
		t.style.display = 'block';
		t.getElementsByTagName('iframe')[0].setAttribute('src', '//giphy.com/embed/bZQvimlS7kuGc');
		document.getElementById('dlbi-sparkle-banner').className += ' is_a_crap_browser'
	}
</script>
</body>

</html>
